{% extends 'base.html' %} 

{% block content %}
  <h1>DETAIL</h1>
  <hr />


  <div id="article-content">
    <h3>{{movies.title}}</h3>
    <br>
    <p>Audience : {{movies.audience}}</p>
    <p>Release Dates : {{movies.release_date}}</p>
    <p>Genre : {{movies.genre}}</p>
    <p>Score : {{movies.score}}</p>
    <p>Poster URL : {{movies.poster_url}}</p>
    <p>Actor : </p>
    {% if movies.actor_image %}
    <img src="{{movies.actor_image.url}}" />
    {% endif %}
    <p>{{movies.description}}</p>

    <hr>
    
    <a href="{% url 'movies:update' movies.pk %}">Update</a>
    <form action="{% url 'movies:delete' movies.pk %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <a href="{% url 'movies:index' %}">BACK</a>


  </div>
{% endblock content %}